body 
{
    font-family: 'PT Sans Narrow', sans-serif;
    color: black;
}

h1 
{
    color: black;
    font-weight: bold;
    font-size: 100px;
    font-family: Arial;
    text-transform: uppercase;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
}

.titulofoto{

    text-align: center;
    font-size: 100px;

}

.fecha{
    text-align: center;
    font-size: 60px;
}


.descripcion{

    font-size: 50px;
    font-family: 'PT Sans Narrow', sans-serif;
}

.foto{
    display: flex;
    justify-content: center;
    align-items: center; 
}